<manifest package="com.bignerdranch.permissionmanager"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="false">

        <activity android:name=".PermissionRequestDelegateActivity"
                  android:theme="@style/TranslucentAppTheme"/>

    </application>

</manifest>