<manifest package="com.bignerdranch.permissionmanager"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application >

        <activity android:name=".PermissionRequestDelegateActivity"
                  android:theme="@style/TranslucentAppTheme"/>

    </application>

</manifest>